<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>All Result</h1>
<!--
<p th:text="'user_id: ' + ${greeting.user_id}" />
<p th:text="'content: ' + ${greeting.msg}" />


<p th:text="'content: ' + ${greeting}" />
<a href="/greeting">Submit another message</a>

<p><span th:each="greetingone:${greeting}">
    <span th:each="user_id :${greetingone}" th:text="${user_id}"></span>
    <span th:each="msg :${greetingone}" th:text="${msg}"></span>

</span>
</p>-->


<p><span th:each="greetingone:${greeting}">
    <span th:text="${greetingone.userId}"></span>
    <span th:text="${greetingone.msg}"></span>
<br>
</span></p>
<br>
<a href="/">回到首页</a>
</body>
</html>